$espn-light-grey: #edeef0;
$espn-dark-grey: #2b2d2c;
$espn-red: #dd0f00;
$espn-maroon: #b40900;
$espn-green: #3db54a;

@import '~bootstrap/scss/bootstrap';

body {
  .message {
    display: flex;
  }

  .navbar-brand {
    font-family: 'ESP_Bold_Italic', sans-serif;
  }

  .roster-container {
    @include make-container;

    .roster-content {
      @include make-row;

      section {
        @include make-col-ready;
        @include media-breakpoint-up(md) {
          @include make-col(12);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(6);
        }

        background: $white;
        border: 1px solid $black;
      }
    }
  }
}
